binsrc/bpel/tests/fi/fib.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2019 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="Fi"
    targetNamespace="http://temp.org"
    xmlns:tns="http://temp.org"
    xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
    >
    <types>  
	<schema elementFormDefault="qualified" targetNamespace="http://temp.org" 
	    xmlns="http://www.w3.org/2001/XMLSchema">
	    <element name="value" type="int"/>
	    <element name="result" type="int"/>
	</schema>
	<schema targetNamespace="http://schemas.xmlsoap.org/ws/2003/03/addressing"
	    xmlns="http://www.w3.org/2001/XMLSchema"
	    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
	    <element name="ReplyTo" type="wsa:EndpointReferenceType"/>
	    <element name="MessageID" type="wsa:AttributedURI"/>
	    <element name="RelatesTo" type="wsa:Relationship"/>
	    <complexType name="AttributedURI">
		<simpleContent>
		    <extension base="xsd:anyURI">
			<xs:attribute name="Id" type="xsd:string"/>
		    </extension>
		</simpleContent>
	    </complexType>
	    <complexType name="Relationship">
		<simpleContent>
		    <extension base="xsd:anyURI">
			<attribute name="RelationshipType" type="xsd:QName" use="optional"/>
			<attribute name="Id" type="xsd:string"/>
		    </extension>
		</simpleContent>
	    </complexType>
	    <complexType name="EndpointReferenceType">
		<sequence>
		    <element name="Address" type="anyURI"/>
		    <element name="ReferenceProperties" type="wsa:ReferencePropertiesType" minOccurs="0"/>
		    <element name="PortType" type="wsa:AttributedQName" minOccurs="0"/>
		    <element name="ServiceName" type="wsa:ServiceNameType" minOccurs="0"/>
		</sequence>
		<attribute name="Id" type="xsd:string"/>
	    </complexType>
	    <complexType name="ServiceNameType">
		<simpleContent>
		    <extension base="QName">
			<attribute name="PortName" type="NCName"/>
		    </extension>
		</simpleContent>
	    </complexType>
	    <complexType name="AttributedQName">
		<simpleContent>
		    <extension base="QName"/>
		</simpleContent>
	    </complexType>
	    <complexType name="ReferencePropertiesType">
		<sequence>
		    <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	    </complexType>
	</schema>
    </types>

  <message name="StartHeader">
    <part name="MessageID" element="wsa:MessageID"/>
    <part name="ReplyTo" element="wsa:ReplyTo"/>
  </message>
  <message name="ContinueHeader">
    <part name="RelatesTo" element="wsa:RelatesTo"/>
  </message>
    <message name="FiRequestMessage">
	<part name="payload" element="tns:value"/>
    </message>
    <message name="FiResultMessage">
	<part name="payload" element="tns:result"/>
    </message>

    <portType name="Fi">
	<operation name="initiate">
	    <input message="tns:FiRequestMessage"/>
	</operation>
	<operation name="onResult">
	    <input message="tns:FiResultMessage"/>
	</operation>
    </portType>
    
    <binding name="FiServiceBinding" type="tns:Fi">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	<operation name="initiate">
	    <soap:operation soapAction="#initiate" style="document" />
	    <input name="initiateRequest">
                <soap:header message="tns:StartHeader" part="MessageID" use="literal" required="false"/>
		<soap:body use="literal" />
	    </input>
	</operation>
	<operation name="onResult">
	    <soap:operation soapAction="#onResult" style="document" />
	    <input name="onResultResponse">
                <soap:header message="tns:ContinueHeader" part="RelatesTo" use="literal" required="false"/>
		<soap:body use="literal" />
	    </input>
	</operation>
    </binding>

    <service name="FiServices">
	<port name="Fi" binding="tns:FiServiceBinding">
	    <soap:address location="http://localhost:6666/BPELGUI/bpel.vsp?script=file:/fi/fib.bpel" />
	</port>
    </service>

    <plnk:partnerLinkType name="Fi">
	<plnk:role name="FiProvider">
	    <plnk:portType name="tns:Fi"/>
	</plnk:role>
    </plnk:partnerLinkType> 

</definitions>
