binsrc/bpel/tests/t1/buyer/Buyer.wsdl

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2012 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="Buyer"
    targetNamespace="http://samples.cxdn.com/buyer"
    xmlns:tns="http://samples.cxdn.com/buyer"
    xmlns:smsg="http://samples.cxdn.com/supplyMessages"
    xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

  <service name="XXX"/>

  <documentation>
    This WSDL is implemented by the BPEL Process "Buyer".
  </documentation>

  <import namespace="http://samples.cxdn.com/supplyCorrelation" location="supplyCorrelation.wsdl"/>
  <import namespace="http://samples.cxdn.com/supplyMessages" location="supplyMessages.wsdl"/>
  
  <portType name="Buyer">
    <operation name="purchase">
      <input message="smsg:POMessage"/>
    </operation>
  </portType>
  
  <portType name="Customer">
    <operation name="onResult">
      <input message="smsg:POResponse"/>
    </operation>
  </portType>  

  <plnk:partnerLinkType name="Buyer">
    <plnk:role name="BuyerProvider">
      <plnk:portType name="tns:Buyer"/>
    </plnk:role>
    <plnk:role name="CustomerRequester">
      <plnk:portType name="tns:Customer"/>
    </plnk:role>    
  </plnk:partnerLinkType>

  <!-- added by Ruslan -->
    <portType name="BuyerCallback">
       <operation name="AsyncPurchaseResponse">
        <input message="smsg:POResponse"/>
       </operation>
    </portType>
			      


</definitions>

