binsrc/bpel/tests/t1/buyer/supplyMessages.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2019 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="correlatedMessages"
    targetNamespace="http://samples.cxdn.com/supplyMessages"
    xmlns:tns="http://samples.cxdn.com/supplyMessages"
    xmlns:cor="http://samples.cxdn.com/supplyCorrelation"
    xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <!--define schema types for PO and invoice information -->
    <types>
		<!-- According to this schema, Children of PurchaseOrder and 
          - PurchaseOrderResponse are unqualified, which means all the 
          - PurchaseOrderResponse children has its own namespace it doesn't 
          - qualifiy under PurchaseOrderResponse namespace.
          -->
       <xsd:schema targetNamespace="http://samples.cxdn.com/supplyMessages">
          <xsd:complexType name="PurchaseOrder">
             <xsd:sequence>
                <xsd:element name="CID" type="xsd:string"/>
                <xsd:element name="Order" type="xsd:int"/>
             </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="PurchaseOrderResponse">
             <xsd:sequence>
                <xsd:element name="CID" type="xsd:string"/>
                <xsd:element name="Order" type="xsd:int"/>
                <xsd:element name="VID" type="xsd:string"/>
                <xsd:element name="InvNum" type="xsd:int"/>
			 </xsd:sequence>
          </xsd:complexType>
       </xsd:schema>
    </types>
    <message name="POMessage">
        <part name="PO" type="tns:PurchaseOrder"/>
    </message>
    <message name="POResponse">
        <part name="POR" type="tns:PurchaseOrderResponse"/>
    </message>
    <bpws:propertyAlias propertyName="cor:customerID"
                  messageType="tns:POMessage" part="PO"
                  query="/PO/CID"/>
    <bpws:propertyAlias propertyName="cor:orderNumber"
                  messageType="tns:POMessage" part="PO"
                  query="/PO/Order"/>
    <bpws:propertyAlias propertyName="cor:customerID"
                  messageType="tns:POResponse" part="POR"
                  query="/POR/CID"/>
    <bpws:propertyAlias propertyName="cor:orderNumber"
                  messageType="tns:POResponse" part="POR"
                  query="/POR/Order"/>
    <bpws:propertyAlias propertyName="cor:vendorID"
                  messageType="tns:POResponse" part="POR"
                  query="/POR/VID"/>
    <bpws:propertyAlias propertyName="cor:invoiceNumber"
                  messageType="tns:POResponse" part="POR"
                  query="/POR/InvNum"/>
  <!-- ... -->
</definitions>

