binsrc/vsp/soapdemo/r4/simple-doc-literal-2.xsd

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2012 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://soapinterop.org/types/part"
	xmlns:ns2="http://soapinterop.org/types"
	targetNamespace="http://soapinterop.org/types/part">

	<element name="EmptyPart">
		<complexType/>
	</element>

	<element name="StringPart" type="xsd:string"/>
	<element name="IntPart" type="xsd:int"/>
	<element name="FloatPart" type="xsd:float"/>
	<element name="ArrayOfStringPart" type="ns2:ArrayOfString_literal"/>
	<element name="ArrayOfIntPart" type="ns2:ArrayOfInt_literal"/>
	<element name="ArrayOfFloatPart" type="ns2:ArrayOfFloat_literal"/>
	<element name="String2Part" type="xsd:string"/>
	<element name="EnumPart" type="ns2:Enum"/>

</schema>
