binsrc/vsp/soapdemo/r4/simple-doc-literal-3.xsd

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2016 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://soapinterop.org/types/requestresponse"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns2="http://soapinterop.org/types"
	targetNamespace="http://soapinterop.org/types/requestresponse">

	<element name="echoEmptyFaultRequest">
		<complexType/>
	</element>
	<element name="echoEmptyFaultResponse">
		<complexType/>
	</element>

	<element name="echoStringFaultRequest" type="xsd:string"/>
	<element name="echoStringFaultResponse">
		<complexType/>
	</element>

	<element name="echoIntArrayFaultRequest" type="ns2:ArrayOfInt_literal"/>
	<element name="echoIntArrayFaultResponse">
		<complexType/>
	</element>

	<element name="echoMultipleFaults1Request">
		<complexType>
			<sequence>
				<element name="whichFault" type="xsd:int"/>
				<element name="param1" type="xsd:string"/>
				<element name="param2" type="ns2:ArrayOfFloat_literal"/>
			</sequence>
		</complexType>
	</element>
	<element name="echoMultipleFaults1Response">
		<complexType/>
	</element>

	<element name="echoMultipleFaults2Request">
		<complexType>
			<sequence>
				<element name="whichFault" type="xsd:int"/>
				<element name="param1" type="xsd:string"/>
				<element name="param2" type="xsd:float"/>
				<element name="param3" type="ns2:ArrayOfString_literal"/>
			</sequence>
		</complexType>
	</element>
	<element name="echoMultipleFaults2Response">
		<complexType/>
	</element>

	<element name="echoMultipleFaults3Request">
		<complexType>
			<sequence>
				<element name="whichFault" type="xsd:int"/>
				<element name="param1" type="xsd:string"/>
				<element name="param2" type="xsd:string"/>
			</sequence>
		</complexType>
	</element>
	<element name="echoMultipleFaults3Response">
		<complexType/>
	</element>

	<element name="echoMultipleFaults4Request">
		<complexType>
			<sequence>
				<element name="whichFault" type="xsd:int"/>
				<element name="param1" type="xsd:int"/>
				<element name="param2" type="ns2:Enum"/>
			</sequence>
		</complexType>
	</element>
	<element name="echoMultipleFaults4Response">
		<complexType/>
	</element>

</schema>
