binsrc/bpel/tests/post/post.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2017 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="post"
  targetNamespace="http://services.otn.com"
  xmlns:tns="http://services.otn.com"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
      targetNamespace="http://services.otn.com"
      xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="postRequest">
        <complexType>
          <sequence>
            <element name="ssn" type="string"/>
	    <element name="id" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="postResponse">
        <complexType>
          <sequence>
            <element name="result" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="postRequestMessage">
    <part name="payload" element="tns:postRequest"/>
  </message>
  <message name="postResponseMessage">
    <part name="payload" element="tns:postResponse"/>
  </message>
  <portType name="post">
    <operation name="process">
      <input  message="tns:postRequestMessage" />
      <output message="tns:postResponseMessage"/>
    </operation>
   </portType>
   <plnk:partnerLinkType name="post">
     <plnk:role name="postProvider">
       <plnk:portType name="tns:post"/>
     </plnk:role>
   </plnk:partnerLinkType>
</definitions>
