binsrc/bpel/tests/echovirt/echovirt.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2017 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="echovirt"
  targetNamespace="http://openlinksw.com"
  xmlns:tns="http://openlinksw.com"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
      targetNamespace="http://openlinksw.com"
      xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="echovirtRequest">
        <complexType>
          <sequence>
            <element name="name" type="string"/>
	    <element name="fname" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="echovirtResponse">
        <complexType>
          <sequence>
            <element name="result" type="string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="echovirtRequestMessage">
    <part name="payload" element="tns:echovirtRequest"/>
  </message>
  <message name="echovirtResponseMessage">
    <part name="payload" element="tns:echovirtResponse"/>
  </message>
  <portType name="echovirt">
    <operation name="process">
      <input  message="tns:echovirtRequestMessage" />
      <output message="tns:echovirtResponseMessage"/>
    </operation>
   </portType>
   <plnk:partnerLinkType name="echovirt">
     <plnk:role name="echovirtProvider">
       <plnk:portType name="tns:echovirt"/>
     </plnk:role>
   </plnk:partnerLinkType>
</definitions>
