binsrc/bpel/tests/interop/site/SecAecho/echo.wsdl

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2014 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions targetNamespace="urn:echo:echoService"
             xmlns:tns="urn:echo:echoService"
             xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

   <message name="StringMessageType">
      <part name="echoString" type="xsd:string"/>
   </message>

   <portType name="echoPT">
      <operation name="echo">
         <input message="tns:StringMessageType"/>
      </operation>
   </portType>

   <portType name="replyPT">
      <operation name="reply">
         <input message="tns:StringMessageType"/>
      </operation>
   </portType>

   <plt:partnerLinkType name="echoSLT">
     <plt:role name="service">
       <plt:portType name="tns:echoPT"/>
     </plt:role>
     <plt:role name="requester">
       <plt:portType name="tns:replyPT"/>
     </plt:role>
   </plt:partnerLinkType>

</definitions>
