binsrc/bpel/tests/echo/sdoc.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2014 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:dime="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
 xmlns:content="http://schemas.xmlsoap.org/ws/2002/04/content-type/" 
 xmlns:ref="http://schemas.xmlsoap.org/ws/2002/04/reference/" 
 xmlns:ns0="services.wsdl"
 xmlns:dl="services.wsdl" 
 xmlns:tns="services.wsdl"
 targetNamespace="services.wsdl"
 name="VirtuosoSOAP" xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
	<schema targetNamespace="services.wsdl"
	 xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
	<element name="DocTest" >
	  <complexType>
	    <sequence>
		 <element minOccurs='1' maxOccurs='1' name='par' type='xsd:string' />
	    </sequence>
	  </complexType>
	</element>
	<element name="DocTestResponse" >
	  <complexType>
	    <all>
		 <element minOccurs='1' maxOccurs='1' name='CallReturn' type='xsd:string' />
	    </all>
	  </complexType>
	</element>
	</schema>
	</types>
	<message name="DocTestRequest">
		<part element="dl:DocTest" name="parameters" />
	</message>
	<message name="DocTestResponse">
		<part element="dl:DocTestResponse" name="parameters" />
	</message>
	<portType name="SOAPDocLiteralPortType">
		<operation name="DocTest">
			<input message="tns:DocTestRequest" name="DocTestRequest" />
			<output message="tns:DocTestResponse" name="DocTestResponse" />
		</operation>
	</portType>
	<binding name="SOAPDocLiteralBinding" type="tns:SOAPDocLiteralPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="DocTest">
			<soap:operation soapAction="http://openlinksw.com/virtuoso/soap/schema#DocTest" style="document" />
			<input name="DocTestRequest">
				<soap:body use="literal" />
			</input>
			<output name="DocTestResponse">
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="VirtuosoSOAP">
		<documentation>Virtuoso SOAP services</documentation>
		<port name="SOAPDocLiteralPort" binding="tns:SOAPDocLiteralBinding">
			<soap:address location="http://imitko:6666/sDoc" />
		</port>
	</service>
</definitions>
