binsrc/bpel/106.ParallelFlows/FlowSample.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2012 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="FlowSample"
        targetNamespace="http://samples.cxdn.com"
        xmlns:tns="http://samples.cxdn.com"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:s1="http://www.autoloan.com/ns/autoloan" 
        >
        
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.autoloan.com/ns/autoloan" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="LoanOffer">
          <sequence>
            <element name="ProviderName" type="string"/>
            <element name="Selected" type="boolean"/>
            <element name="Approved" type="boolean"/>
            <element name="APR" type="double"/>
          </sequence>
      </complexType>
      <complexType name="LoanApplication">
          <sequence>
            <element name="SSN" type="string"/>
            <element name="Email" type="string"/>
            <element name="CustomerName" type="string"/>
            <element name="LoanAmount" type="double"/>
            <element name="CarModel" type="string"/>
            <element name="CarYear" type="string"/>
            <element name="CreditRating" type="int"/>
          </sequence>
      </complexType>
    </schema>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://samples.cxdn.com" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="initiateFlowSampleMessage">
        <complexType>
          <sequence>
            <element name="xmlLoanApp" type="s1:LoanApplication"/>
          </sequence>
        </complexType>
      </element>
      <element name="onFlowSampleResultMessage">
        <complexType/>
      </element>
    </schema>
  </types>
  <message name="initiateFlowSampleMessage">
    <part name="parameters" element="tns:initiateFlowSampleMessage"/>
  </message>
  <message name="onFlowSampleResultMessage">
    <part name="parameters" element="tns:onFlowSampleResultMessage"/>
  </message>
  <portType name="FlowSample">
    <operation name="initiate">
      <input message="tns:initiateFlowSampleMessage"/>
    </operation>
  </portType>
  <portType name="FlowSampleCallback">
    <operation name="onResult">
      <input message="tns:onFlowSampleResultMessage"/>
    </operation>
  </portType>
  
  <plnk:partnerLinkType name="FlowSample">
    <plnk:role name="FlowSampleProvider">
      <plnk:portType name="tns:FlowSample"/>
    </plnk:role>
    <plnk:role name="FlowSampleRequester">
      <plnk:portType name="tns:FlowSampleCallback"/>
    </plnk:role>
  </plnk:partnerLinkType>
   
</definitions>
