binsrc/tests/suite/r4/round4xsd-1.xsd

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2018 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->

    <s:schema elementFormDefault="qualified" targetNamespace="http://soapinterop.org/"
       xmlns:s="http://www.w3.org/2001/XMLSchema" 
       xmlns:s1="http://soapinterop.org/xsd" 
       xmlns:s0="http://soapinterop.org/" 
       xmlns:s3="http://soapinterop.org/echoheader/" 
       xmlns:s2="http://soapinterop.org" >
      <s:import namespace="http://soapinterop.org/xsd" />
      <s:import namespace="http://soapinterop.org/echoheader/" />
      <s:element name="echoVoid">
        <s:complexType />
      </s:element>
      <s:element name="echoVoidResponse">
        <s:complexType />
      </s:element>
      <s:element name="echoInteger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputInteger" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoIntegerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoFloat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputFloat" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoFloatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputBase64" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoComplexType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputComplexType" type="s1:SOAPComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoComplexTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s1:SOAPComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoIntegerMultiOccurs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputIntegerMultiOccurs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoIntegerMultiOccursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="return" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoFloatMultiOccurs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputFloatMultiOccurs" type="s0:ArrayOfFloat" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFloat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="float" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoFloatMultiOccursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="return" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoStringMultiOccurs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputStringMultiOccurs" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="echoStringMultiOccursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoComplexTypeMultiOccurs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputComplexTypeMultiOccurs" type="s1:ArrayOfSOAPComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SOAPComplexType" nillable="true" type="s1:SOAPComplexType" />
      <s:element name="echoComplexTypeMultiOccursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="return" type="s1:SOAPComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoDecimal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputDecimal" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoDecimalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoBoolean">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputBoolean" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoBooleanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoHexBinary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputHexBinary" type="s:hexBinary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoHexBinaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s:hexBinary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoComplexTypeAsSimpleTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputComplexType" type="s1:SOAPComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoComplexTypeAsSimpleTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="outputString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="outputInteger" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="outputFloat" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoSimpleTypesAsComplexType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inputInteger" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inputFloat" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoSimpleTypesAsComplexTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s1:SOAPComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoNestedComplexType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputComplexType" type="s1:SOAPComplexTypeComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoNestedComplexTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s1:SOAPComplexTypeComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoNestedMultiOccurs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputComplexType" type="s1:SOAPMultiOccursComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoNestedMultiOccursResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s1:SOAPMultiOccursComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoChoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputChoice" type="s1:ChoiceComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoChoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s1:ChoiceComplexType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoEnum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="inputEnum" type="s1:Enum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoEnumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" type="s1:Enum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetAnyType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetAnyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetAny">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputAny" type="s0:AnyElementType">
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetAnyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoAnyType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoAnyTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnyElementType">
	<s:sequence>
	  <s:any />
	</s:sequence>
      </s:complexType>
      <s:element name="echoAnyElement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputAny" type="s0:AnyElementType">
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoAnyElementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="return" type="s0:AnyElementType">
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoVoidSoapHeaderResponse">
        <s:complexType />
      </s:element>
      <s:element name="echoMeComplexTypeRequest" type="s3:echoMeComplexTypeRequest" />
      <s:element name="echoMeStringRequest" type="s3:echoMeStringRequest" />
      <s:element name="echoMeComplexTypeResponse" type="s3:echoMeComplexTypeResponse" />
      <s:element name="echoMeStringResponse" type="s3:echoMeStringResponse" />
    </s:schema>
