binsrc/tests/suite/r4/simple-rpc-encoded.xsd

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2013 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org/types"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://soapinterop.org/types">

        <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

        <complexType name="EmptyFault"/>

        <complexType name="ArrayOfString">
    	    <complexContent>
    		    <restriction base="soap-enc:Array">
    			    <attribute ref="soap-enc:arrayType" wsdl:arrayType="string[]"/>
    		    </restriction>
    	    </complexContent>
        </complexType>

        <complexType name="ArrayOfInt">
    	    <complexContent>
    		    <restriction base="soap-enc:Array">
    			    <attribute ref="soap-enc:arrayType" wsdl:arrayType="int[]"/>
    		    </restriction>
    	    </complexContent>
        </complexType>

        <complexType name="ArrayOfFloat">
    	    <complexContent>
    		    <restriction base="soap-enc:Array">
    			    <attribute ref="soap-enc:arrayType" wsdl:arrayType="float[]"/>
    		    </restriction>
    	    </complexContent>
        </complexType>

        <simpleType name="Enum">
    	    <restriction base="int">
    		    <enumeration value="1"/>
    		    <enumeration value="2"/>
    	    </restriction>
        </simpleType>
</schema>
