binsrc/bpel/101.HelloWorld/HelloWorld.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2013 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="HelloWorld"
        targetNamespace="http://samples.cxdn.com"
        xmlns:tns="http://samples.cxdn.com"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        >

 <!-- 
   Type Definition
   The default output of the BPELZ wizard uses Strings as input and output to the BPEL Process.
   But you can define or import any XML Schema type and us them as part of the message types.
   -->
        
    <types>  
        <schema attributeFormDefault="qualified" 
                elementFormDefault="qualified" 
                targetNamespace="http://samples.cxdn.com" 
                xmlns="http://www.w3.org/2001/XMLSchema"
                >
                
            <element name="initiateHelloWorld">
                <complexType>
                    <sequence>
                        <element name="name" type="string" />
                    </sequence>
                </complexType>
            </element>
      
            <element name="initiateHelloWorldResponse">
                <complexType/>
            </element>
            
            <element name="onHelloWorldResult">
                <complexType>
                <sequence>
                    <element name="result" type="string"/>
                </sequence>
                </complexType>
            </element>
            
            <element name="onHelloWorldResultResponse">
                <complexType/>
            </element>
        </schema>
    </types>
  
 <!-- 
   Message Type Definition
   Definition of the message types used as part of each SOAP interaction
   -->
    <message name="initiateHelloWorldSoapRequest">
        <part name="parameters" element="tns:initiateHelloWorld"/>
    </message>
    <message name="initiateHelloWorldSoapResponse">
        <part name="parameters" element="tns:initiateHelloWorldResponse"/>
    </message>
    
    <message name="onHelloWorldResultSoapRequest">
        <part name="parameters" element="tns:onHelloWorldResult"/>
    </message>

    <message name="onHelloWorldResultSoapResponse">
        <part name="parameters" element="tns:onHelloWorldResultResponse"/>
    </message>

<!--
  PortType definition
  -->

    <!-- portType implemented by the HelloWorld BPEL process -->
    <portType name="HelloWorld">
        <operation name="initiate">
            <input message="tns:initiateHelloWorldSoapRequest"/>
            <output message="tns:initiateHelloWorldSoapResponse"/>
        </operation>
    </portType>

    <!-- portType implemented by the requester of HelloWorld BPEL process 
         for asynchronous callback purposes
         -->
    <portType name="HelloWorldCallback">
        <operation name="onResult">
            <input message="tns:onHelloWorldResultSoapRequest"/>
            <output message="tns:onHelloWorldResultSoapResponse"/>
        </operation>
    </portType>


<!--
  PartnerLinkType definition
  -->

    <!-- the HelloWorld partnerLinkType binds the service and
         requestor portType into an asynchronous conversation.
         -->
    <plnk:partnerLinkType name="HelloWorld">
        <plnk:role name="HelloWorldService">
            <plnk:portType name="tns:HelloWorld"/>
        </plnk:role>
        <plnk:role name="HelloWorldRequester">
            <plnk:portType name="tns:HelloWorldCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>   
</definitions>
