binsrc/bpel/xsql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2012 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Ivan Mikhailov (OpenLink Software) -->
<xs:schema targetNamespace="http://www.openlinksw.com/virtuoso/bpel" xmlns:xsql="http://www.openlinksw.com/virtuoso/xsql" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:simpleType name="column-name">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value='([A-Za-z_][A-Za-z0-9_]*)|("[^ "]+")'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="column-names">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value='(([ ]*)(((([a-zA-Z0-9_-]+)|(["][^",]+["]))([ ]*,[ ]*(([a-zA-Z0-9_-]+)|(["][^",]+["])))*)|((([a-zA-Z0-9_-]+)|(["][^",]+["]))([ ]*(([a-zA-Z0-9_-]+)|(["][^",]+["])))*))([ ]*))'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="date-format">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[A-Za-z0-9.:/ ]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="flag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="false"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="yes"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="elname-or-blank">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="([a-zA-Z0-9][a-zA-Z0-9:/_-]*)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="insert-mode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="into"/>
      <xs:enumeration value="soft"/>
      <xs:enumeration value="replacing"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="param-name">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[a-zA-Z][a-zA-Z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="param-names">
    <xs:list itemType="xsql:param-name"/>
  </xs:simpleType>
  <xs:simpleType name="resource-name">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="(([^ {}]+)|(\{\{)|(\}\})|(\{@[A-Za-z_][A-Za-z0-9_]*\}))+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sql-dml">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="(([^{}]+)|(\{\{)|(\}\})|(\{@[A-Za-z_][A-Za-z0-9_]*\}))+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sql-expn">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="(([^{}]+)|(\{\{)|(\}\})|(\{@[A-Za-z_][A-Za-z0-9_]*\}))+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sql-expn-opt">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="(([^{}]+)|(\{\{)|(\}\})|(\{@[A-Za-z_][A-Za-z0-9_]*\}))*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="table-name">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value='(((([A-Za-z_][A-Za-z0-9_]*)|("[^ "]+"))\.((([A-Za-z_][A-Za-z0-9_]*)|("[^ "]+"))?)\.)?)(([A-Za-z_][A-Za-z0-9_]*)|("[^ "]+"))'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="xpath-expn">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="rowset-source" mixed="true">
    <xs:attribute name="bind-params" type="xsql:param-names" use="optional"/>
    <xs:attribute name="id-attribute" type="xs:string" use="optional"/>
    <xs:attribute name="id-attribute-column" type="xsql:column-name" use="optional"/>
    <xs:attribute name="max-rows" type="xsql:sql-expn" use="optional"/>
    <xs:attribute name="null-indicator" type="xs:boolean" use="optional"/>
    <xs:attribute name="row-element" type="xsql:elname-or-blank" use="optional"/>
    <xs:attribute name="rowset-element" type="xsql:elname-or-blank" use="optional"/>
    <xs:attribute name="skip-rows" type="xsql:sql-expn" use="optional"/>
    <xs:attribute name="tag-case" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:Name">
          <xs:enumeration value="lower"/>
          <xs:enumeration value="upper"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="request" mixed="true">
    <xs:attribute name="table" type="xsql:table-name" use="required"/>
    <xs:attribute name="date-format" type="xsql:date-format" use="optional"/>
    <xs:attribute name="transform" type="xsql:resource-name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="set-param" mixed="true">
    <xs:attribute name="name" type="xsql:param-name" use="required"/>
    <xs:attribute name="ignore-empty-value" type="xsql:flag" use="optional" default="no"/>
    <xs:attribute name="xpath" type="xsql:xpath-expn" use="optional"/>
    <xs:attribute name="value" type="xsql:sql-expn" use="optional"/>
  </xs:complexType>
  <xs:element name="page">
    <xs:annotation>
      <xs:documentation>Top-level element of standard XSQL document</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##targetNamespace" processContents="strict"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:Name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="action">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:any namespace="##local"/>
      </xs:choice>
      <xs:attribute name="handler" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="appmodule" type="xs:string"/>
      <xs:attribute name="conname" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete-request">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xsql:request">
          <xs:attribute name="key-columns" type="xsql:column-names" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dml" type="xsql:sql-dml"/>
  <xs:element name="include-owa" type="xsql:sql-dml"/>
  <xs:element name="include-param">
    <xs:complexType>
      <xs:attribute name="name" type="xsql:param-name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="include-request-params"/>
  <xs:element name="include-xml">
    <xs:complexType>
      <xs:attribute name="href" type="xsql:resource-name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="include-xsql">
    <xs:complexType>
      <xs:attribute name="href" type="xsql:resource-name" use="required"/>
      <xs:attribute name="reparse" type="xsql:flag" use="optional" default="no"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert-param">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xsql:request">
          <xs:attribute name="name" type="xsql:resource-name" use="required"/>
          <xs:attribute name="columns" type="xsql:column-names" use="optional"/>
          <xs:attribute name="mode" type="xsql:insert-mode" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert-request">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xsql:request">
          <xs:attribute name="columns" type="xsql:column-names" use="optional"/>
          <xs:attribute name="mode" type="xsql:insert-mode" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xsql:rowset-source">
          <xs:attribute name="fetch-size" type="xsql:sql-expn" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref-cursor-function" type="xsql:rowset-source"/>
  <xs:element name="set-cookie">
    <xs:complexType>
      <xs:attribute name="name" type="xsql:sql-expn" use="required"/>
      <xs:attribute name="domain" type="xsql:sql-expn" use="optional"/>
      <xs:attribute name="ignore-empty-value" type="xsql:flag" use="optional" default="no"/>
      <xs:attribute name="max-age" type="xsql:sql-expn" use="optional"/>
      <xs:attribute name="only-if-unset" type="xsql:flag" use="optional" default="no"/>
      <xs:attribute name="path" type="xsql:sql-expn" use="optional"/>
      <xs:attribute name="value" type="xsql:sql-expn" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set-page-param" type="xsql:set-param"/>
  <xs:element name="set-session-param" type="xsql:set-param"/>
  <xs:element name="set-stylesheet-param" type="xsql:set-param"/>
  <xs:element name="update-request">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xsql:request">
          <xs:attribute name="key-columns" type="xsql:column-names" use="required"/>
          <xs:attribute name="columns" type="xsql:column-names" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
