binsrc/bpel/tests/fault1/fault.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2016 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions xmlns:tns="urn:echo:echoService" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:echo:echoService">
    <types>
	<schema targetNamespace="urn:echo:echoService" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:s1="urn:echo:echoService">
	    <element name="invalidRequest" type="s1:InvalidRequestType"/>
	    <complexType name="InvalidRequestType">
		<sequence>
		    <element name="errorCode" type="integer"/>
		    <element name="error" type="string"/>
		</sequence>
	    </complexType>
	</schema>
    </types>
  <message name="StringMessageType">
    <part name="echoString" type="xsd:string"/>
  </message>

  <message name="IntMessageType">
    <part name="value" type="xsd:int"/>
  </message>

  <portType name="echoPT">
    <operation name="echo">
      <input message="tns:StringMessageType"/>
      <output message="tns:StringMessageType"/>
    </operation>
    <operation name="test">
      <input message="tns:StringMessageType"/>
      <output message="tns:StringMessageType"/>
    </operation>
    <operation name="test2">
      <input message="tns:StringMessageType"/>
      <output message="tns:StringMessageType"/>
    </operation>
    <operation name="test3">
      <input message="tns:StringMessageType"/>
      <output message="tns:StringMessageType"/>
    </operation>
  </portType>
  <plt:partnerLinkType name="echoSLT">
    <plt:role name="service">
      <plt:portType name="tns:echoPT"/>
    </plt:role>
  </plt:partnerLinkType>
<!-- The service name and the TNS represent my service ID QName -->
  <service name="echoServiceBP">
   </service>
</definitions>
