binsrc/bpel/tests/fault1/While.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2013 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="While"
        targetNamespace="http://samples.cxdn.com"
        xmlns:tns="http://samples.cxdn.com"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        >
  <types>  
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://samples.cxdn.com" xmlns="http://www.w3.org/2001/XMLSchema">
        <element name="value" type="int"/>
        <element name="result" type="int"/>
    </schema>
  </types>
  
  <message name="WhileRequestMessage">
    <part name="payload" element="tns:value"/>
  </message>
  <message name="WhileResultMessage">
    <part name="payload" element="tns:result"/>
  </message>

  <portType name="While">
    <operation name="initiate">
      <input message="tns:WhileRequestMessage"/>
    </operation>
  </portType>
  <portType name="WhileCallback">
    <operation name="onResult">
      <input message="tns:WhileResultMessage"/>
    </operation>
  </portType>
  
  <plnk:partnerLinkType name="While">
    <plnk:role name="WhileProvider">
      <plnk:portType name="tns:While"/>
    </plnk:role>
    <plnk:role name="WhileRequester">
      <plnk:portType name="tns:WhileCallback"/>
    </plnk:role>
  </plnk:partnerLinkType> 
  
</definitions>
