binsrc/bpel/tests/tver/service.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2019 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:dime="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
 xmlns:content="http://schemas.xmlsoap.org/ws/2002/04/content-type/" 
 xmlns:ref="http://schemas.xmlsoap.org/ws/2002/04/reference/" 
 xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
 xmlns:ns0="services.wsdl"
 xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
 xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
 xmlns:ns3="http://schemas.oracle.com/bpel"
 xmlns:dl="services.wsdl" 
 xmlns:tns="http://localhost:6666/LifeSvc/services.wsdl"
 targetNamespace="http://localhost:6666/LifeSvc/services.wsdl"
 name="LifeSvc" xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
	<schema targetNamespace="services.wsdl"
	 xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
	<element name="echoSync" >
	  <complexType>
	    <sequence>
		 <element minOccurs='1' maxOccurs='1' name='var' type='xsd:string' />
	    </sequence>
	  </complexType>
	</element>
	<element name="echoASync" >
	  <complexType>
	    <sequence>
		 <element minOccurs='1' maxOccurs='1' name='var' type='xsd:string' />
	    </sequence>
	  </complexType>
	</element>
	<element name="echoSyncResponse" >
	  <complexType>
	    <all>
		 <element minOccurs='1' maxOccurs='1' name='CallReturn' type='xsd:string' />
	    </all>
	  </complexType>
	</element>
	</schema>
	<schema targetNamespace="http://schemas.xmlsoap.org/ws/2003/03/addressing"
	 xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
	<import namespace='http://schemas.oracle.com/bpel' />
	<import namespace='http://schemas.xmlsoap.org/ws/2002/07/utility' />
          <complexType name="AttributedURI">
              <simpleContent>
                  <extension base="anyURI">
                      <attribute ref="wsu:Id" use="optional"/>
                      <attribute ref="ns3:rootId" use="optional"/>
                      <attribute ref="ns3:parentId" use="optional"/>
                      <attribute ref="ns3:priority" use="optional"/>
                  </extension>
              </simpleContent>
          </complexType>
          <complexType name="EndpointReferenceType">
              <sequence>
                  <element name="Address" type="anyURI"/>
                  <element name="ReferenceProperties" type="wsa:ReferencePropertiesType" minOccurs="0"/>
                  <element name="PortType" type="wsa:AttributedQName" minOccurs="0"/>
                  <element name="ServiceName" type="wsa:ServiceNameType" minOccurs="0"/>
              </sequence>
              <attribute ref="wsu:Id"/>
          </complexType>
          <complexType name="ServiceNameType">
              <simpleContent>
                  <extension base="QName">
                      <attribute name="PortName" type="NCName"/>
                  </extension>
              </simpleContent>
          </complexType>
          <complexType name="AttributedQName">
              <simpleContent>
                  <extension base="QName"/>
              </simpleContent>
          </complexType>
          <complexType name="ReferencePropertiesType">
              <sequence>
                  <any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
          </complexType>
          <element name="MessageID" type="wsa:AttributedURI"/>
          <element name="ReplyTo" type="wsa:EndpointReferenceType"/>
	</schema>
	<schema targetNamespace="http://schemas.xmlsoap.org/ws/2002/07/utility"
	 xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
          <attribute name="Id" type="ID"/>
	</schema>
	<schema targetNamespace="http://schemas.oracle.com/bpel"
	 xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
          <attribute name="priority" type="string"/>
          <attribute name="parentId" type="string"/>
          <attribute name="rootId" type="string"/>
	</schema>
	</types>
	<message name="echoASyncRequest">
		<part element="ns0:echoASync" name="parameters" />
	</message>
	<message name="echoASyncReplyTo">
		<part name="ReplyTo" element="wsa:ReplyTo" />
	</message>
	<message name="echoASyncMessageID">
		<part name="MessageID" element="wsa:MessageID" />
	</message>
	<message name="echoSyncRequest">
		<part element="dl:echoSync" name="parameters" />
	</message>
	<message name="echoSyncResponse">
		<part element="dl:echoSyncResponse" name="parameters" />
	</message>
	<message name="onResultMessage">
	    <part name="parameters" element="dl:echoSyncResponse"/>
	</message>
	<portType name="LifeSvcDocLiteralPortType">
		<operation name="echoASync">
			<input message="tns:echoASyncRequest" name="echoASyncRequest" />
		</operation>
		<operation name="echoSync">
			<input message="tns:echoSyncRequest" name="echoSyncRequest" />
			<output message="tns:echoSyncResponse" name="echoSyncResponse" />
		</operation>
	</portType>
	<portType name="onResultPortType">
	    <operation name="onResult">
		<input message="tns:onResultMessage"/>
	    </operation>
	</portType>
	<binding name="LifeSvcDocLiteralBinding" type="tns:LifeSvcDocLiteralPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="echoASync">
			<soap:operation soapAction="http://openlinksw.com/virtuoso/soap/schema#echoASync" style="document" />
			<input name="echoASyncRequest">
				<soap:body use="literal" />
				<soap:header use="literal" message="tns:echoASyncReplyTo" part="ReplyTo" />
				<soap:header use="literal" message="tns:echoASyncMessageID" part="MessageID" />
			</input>
		</operation>
		<operation name="echoSync">
			<soap:operation soapAction="http://openlinksw.com/virtuoso/soap/schema#echoSync" style="document" />
			<input name="echoSyncRequest">
				<soap:body use="literal" />
			</input>
			<output name="echoSyncResponse">
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="LifeSvc">
		<documentation>Virtuoso SOAP services</documentation>
		<port name="LifeSvcDocLiteralPort" binding="tns:LifeSvcDocLiteralBinding">
			<soap:address location="http://localhost:6666/LifeSvc" />
		</port>
	</service>
	<plt:partnerLinkType name='LifeSvc'>
		<plt:role name='LifeSvcProvider'>
			<plt:portType name='tns:LifeSvcDocLiteralPortType'/>
		</plt:role>
		<plt:role name="ASyncServiceRequester">
		    <plt:portType name="tns:onResultPortType"/>
		</plt:role>
	</plt:partnerLinkType>
</definitions>
