binsrc/bpel/tests/tver/tver.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2019 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions 
    	xmlns:tns="http://temp.org" 
	xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="http://temp.org">
  <types>
      <schema 
	  	xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:ns0="http://temp.org" 
		elementFormDefault="qualified" 
		targetNamespace="http://temp.org">
      <element name="echo" type="ns0:echoStringType"/>
      <element name="echoResponse" type="ns0:echoStringType"/>
      <complexType name="echoStringType">
        <sequence>
          <element name="varString" type="string" minOccurs="1" maxOccurs="1"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  
  <message name="echoStringIn">
    <part name="payload" element="tns:echo"/>
  </message>
  <message name="echoStringOut">
    <part name="payload" element="tns:echoResponse"/>
  </message>
  
  
  <portType name="echoPT">
    <operation name="echo">
      <input message="tns:echoStringIn"/>
      <output message="tns:echoStringOut"/>
    </operation>
  </portType>
  
  <plt:partnerLinkType name="echoSLT">
    <plt:role name="service">
      <plt:portType name="tns:echoPT"/>
    </plt:role>
  </plt:partnerLinkType>
</definitions>
