binsrc/bpel/tests/tevent/AsyncBPELService.wsdl

<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2018 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions
     name="AsyncBPELService"
     targetNamespace="http://services.otn.com"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://services.otn.com"
     xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:s1="http://www.autoloan.com/ns/autoloan"
    >
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.autoloan.com/ns/autoloan"
             xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="loanApplication" type="s1:LoanApplicationType"/>
            <element name="event" type="string"/>
            <complexType name="LoanApplicationType">
                <sequence>
                    <element name="SSN" type="string"/>
                    <element name="email" type="string"/>
                    <element name="customerName" type="string"/>
                    <element name="loanAmount" type="double"/>
                    <element name="carModel" type="string"/>
                    <element name="carYear" type="string"/>
                    <element name="creditRating" type="int"/>
                </sequence>
            </complexType>
        </schema>
    <xs:schema targetNamespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" blockDefault="#all">

       <!-- //////////////////// WS-Addressing //////////////////// -->
	    <!-- Endpoint reference -->
	    <xs:element name="EndpointReference" type="wsa:EndpointReferenceType"/>
	    <xs:complexType name="EndpointReferenceType">
		    <xs:sequence>
			    <xs:element name="Address" type="wsa:AttributedURI"/>
			    <xs:element name="ReferenceProperties" type="wsa:ReferencePropertiesType" minOccurs="0"/>
			    <xs:element name="PortType" type="wsa:AttributedQName" minOccurs="0"/>
			    <xs:element name="ServiceName" type="wsa:ServiceNameType" minOccurs="0"/>
			    <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
				    <xs:annotation>
					    <xs:documentation>
					     If "Policy" elements from namespace "http://schemas.xmlsoap.org/ws/2002/12/policy#policy" are used, they must appear first (before any extensibility elements).
					    </xs:documentation>
				    </xs:annotation>
			    </xs:any>			
		    </xs:sequence>
		    <xs:anyAttribute namespace="##other" processContents="lax"/>
	    </xs:complexType>
	    <xs:complexType name="ReferencePropertiesType">
		    <xs:sequence>
			    <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		    </xs:sequence>
	    </xs:complexType>
	    <xs:complexType name="ServiceNameType">
		    <xs:simpleContent>
			    <xs:extension base="xs:QName">
				    <xs:attribute name="PortName" type="xs:NCName"/>
				    <xs:anyAttribute namespace="##other" processContents="lax"/>
			    </xs:extension>
		    </xs:simpleContent>
	    </xs:complexType>
	    <!-- Message information header blocks -->
	    <xs:element name="MessageID" type="wsa:AttributedURI"/>
	    <xs:element name="RelatesTo" type="wsa:Relationship"/>
	    <xs:element name="To" type="wsa:AttributedURI"/>
	    <xs:element name="Action" type="wsa:AttributedURI"/>
	    <xs:element name="From" type="wsa:EndpointReferenceType"/>
	    <xs:element name="ReplyTo" type="wsa:EndpointReferenceType"/>
	    <xs:element name="FaultTo" type="wsa:EndpointReferenceType"/>
	    <xs:element name="Recipient" type="wsa:EndpointReferenceType"/>
	    <xs:complexType name="Relationship">
		    <xs:simpleContent>
			    <xs:extension base="xs:anyURI">
				    <xs:attribute name="RelationshipType" type="xs:QName" use="optional"/>
				    <xs:anyAttribute namespace="##other" processContents="lax"/>
			    </xs:extension>
		    </xs:simpleContent>
	    </xs:complexType>
	    <xs:simpleType name="RelationshipTypeValues">
		    <xs:restriction base="xs:QName">
			    <xs:enumeration value="wsa:Response"/>
		    </xs:restriction>
	    </xs:simpleType>
	    <!-- Common declarations and definitions -->
	    <xs:complexType name="AttributedQName">
		    <xs:simpleContent>
			    <xs:extension base="xs:QName">
				    <xs:anyAttribute namespace="##other" processContents="lax"/>
			    </xs:extension>
		    </xs:simpleContent>
	    </xs:complexType>
	    <xs:complexType name="AttributedURI">
		    <xs:simpleContent>
			    <xs:extension base="xs:anyURI">
				    <xs:anyAttribute namespace="##other" processContents="lax"/>
			    </xs:extension>
		    </xs:simpleContent>
	    </xs:complexType>
    </xs:schema>
    </types>
    <message name="AsyncBPELServiceResultMessage">
        <part name="payload" element="s1:loanApplication"/>
    </message>
    <message name="AsyncBPELServiceRequestMessage">
        <part name="payload" element="s1:loanApplication"/>
    </message>
    <message name="AsyncBPELServiceEventMessage">
        <part name="payload" element="s1:event"/>
    </message>
    <message name="StartHeader">
        <part name="MessageID" element="wsa:MessageID"/>
        <part name="ReplyTo" element="wsa:ReplyTo"/>
    </message>
    <message name="ContinueHeader">
        <part name="RelatesTo" element="wsa:RelatesTo"/>
    </message>
    <portType name="AsyncBPELServiceCallback">
        <operation name="onEvent">
            <input message="tns:AsyncBPELServiceEventMessage"/>
        </operation>
        <operation name="onResult">
            <input message="tns:AsyncBPELServiceResultMessage"/>
        </operation>
    </portType>
    <portType name="AsyncBPELService">
        <operation name="initiate">
            <input message="tns:AsyncBPELServiceRequestMessage"/>
        </operation>
    </portType>
    <binding name="AsyncBPELServiceBinding" type="tns:AsyncBPELService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiate">
            <soap:operation style="document" soapAction="initiate"/>
            <input>
                <soap:header message="tns:StartHeader" part="MessageID" use="literal" encodingStyle=""/>
                <soap:header message="tns:StartHeader" part="ReplyTo" use="literal" encodingStyle=""/>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="AsyncBPELServiceCallbackBinding" type="tns:AsyncBPELServiceCallback">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="onEvent">
            <soap:operation style="document" soapAction="onEvent"/>
            <input>
                <soap:header message="tns:ContinueHeader" part="RelatesTo" use="literal" encodingStyle=""/>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="onResult">
            <soap:operation style="document" soapAction="onResult"/>
            <input>
                <soap:header message="tns:ContinueHeader" part="RelatesTo" use="literal" encodingStyle=""/>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="AsyncBPELServiceCallbackService">
        <port name="AsyncBPELServiceCallbackPort" binding="tns:AsyncBPELServiceCallbackBinding">
            <soap:address location="http://set.by.caller"/>
        </port>
    </service>
    <service name="AsyncBPELService">
        <port name="AsyncBPELServicePort" binding="tns:AsyncBPELServiceBinding">
            <soap:address location="http://localhost:6666/AsyncBPELService"/>
        </port>
    </service>
  <plnk:partnerLinkType name="AsyncBPELService">
    <plnk:role name="AsyncBPELServiceProvider">
      <plnk:portType name="tns:AsyncBPELService"/>
    </plnk:role>
    <plnk:role name="AsyncBPELServiceRequester">
      <plnk:portType name="tns:AsyncBPELServiceCallback"/>
    </plnk:role>
  </plnk:partnerLinkType>
</definitions>

