binsrc/bpel/tests/tpcc/Sut.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2015 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions xmlns:ns1="http://soapdb.org/" xmlns:tns="http://acm.org/samples" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:cor="http://acm.org/samples" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sut" targetNamespace="http://acm.org/samples">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://acm.org/samples">
      <element name="Initate" type="tns:Order"/>
      <element name="onDelivery" type="tns:Delivery"/>
      <element name="success" type="int"/>
      <element name="result" type="int"/>
      <complexType name="Delivery">
        <sequence>
          <element name="ID" type="int"/>
          <element name="cID" type="int"/>
          <element name="price" type="int"/>
        </sequence>
      </complexType>
      <complexType name="Order">
        <sequence>
          <element name="orderID" type="int"/>
          <element name="customerID" type="int"/>
          <element name="lines" type="tns:Lines"/>
        </sequence>
      </complexType>
      <complexType name="Lines">
        <sequence>
          <element name="line" type="tns:Line"/>
        </sequence>
      </complexType>
      <complexType name="Line">
        <sequence>
          <element name="itemID" type="int"/>
          <element name="quantity" type="int"/>
          <element name="orderLineID" type="int"/>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="Order1RequestMessage">
    <part name="payload" element="tns:Initate"/>
  </message>
  <message name="Order1ResponseMessage">
    <part name="payload" element="tns:Initate"/>
  </message>
  <message name="DeliveryRequestMessage">
    <part name="payload" element="tns:onDelivery"/>
  </message>
  <message name="DeliveryResponseMessage">
    <part name="payload" element="tns:onDelivery"/>
  </message>
  <message name="orderReceiptMesssage">
    <part name="payload" element="tns:result"/>
  </message>
  <portType name="Sut">
    <operation name="order_initiate">
      <input message="tns:Order1RequestMessage"/>
    </operation>
    <operation name="delv">
      <input message="tns:DeliveryRequestMessage"/>
    </operation>
  </portType>
  <portType name="SutCallback">
    </portType>
  <plnk:partnerLinkType name="Sut">
    <plnk:role name="SutProvider">
      <plnk:portType name="tns:Sut"/>
    </plnk:role>
    <plnk:role name="SutRequester">
      <plnk:portType name="tns:SutCallback"/>
    </plnk:role>
  </plnk:partnerLinkType>
<!-- make both equal ; currently is supported in that way -->
  <bpws:property name="Order" type="xsd:int"/>
  <bpws:propertyAlias propertyName="cor:Order" messageType="tns:Order1RequestMessage" part="payload" query="/Initate/orderID"/>
  <bpws:propertyAlias propertyName="cor:Order" messageType="tns:DeliveryRequestMessage" part="payload" query="/onDelivery/ID"/>
</definitions>
