binsrc/bpel/tests/bpel_engines/Twister/new-def.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2016 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions
    targetNamespace="http://www.smartcomps.org/twister/samples/new/definition/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns:lns="http://www.smartcomps.org/twister/samples/new/definition/">

  <import location="http://leon:8882/DAV/test/dbservices.wsdl"/>
  <import location="http://leon:8883/DAV/t/tdservices.wsdl"/>

  <types>
    <schema
         xmlns="http://www.w3.org/2001/XMLSchema"
         attributeFormDefault="qualified"
         elementFormDefault="qualified"
         targetNamespace="http://www.smartcomps.org/twister/samples/new/definition/">
      <element name="onInitate" type="tns:Order"/>
      <element name="onDelivery" type="tns:Delivery"/>
      <element name="reSut1lt" type="int"/>
      <complexType name="Delivery">
        <sequence>
          <element name="ID" type="int"/>
          <element name="cID" type="int"/>
          <element name="price" type="int"/>
        </sequence>
      </complexType>
      <complexType name="Order">
        <sequence>
          <element name="orderID" type="int"/>
          <element name="customerID" type="int"/>
          <element name="lines" type="tns:Lines"/>
        </sequence>
      </complexType>
      <complexType name="Lines">
        <sequence>
          <element name="line" type="tns:Line"/>
        </sequence>
      </complexType>
      <complexType name="Line">
        <sequence>
          <element name="itemID" type="int"/>
          <element name="quantity" type="int"/>
          <element name="orderLineID" type="int"/>
        </sequence>
      </complexType>
     </schema>
  </types>

  <message name="OrderRequest">
    <part name="payload" element="lns:onInitate"/>
  </message>

  <message name="OrderResponse">
    <part name="result" type="xsd:int"/>
  </message>

  <message name="DeliveryRequestMessage">
    <part name="payload" element="tns:onDelivery"/>
  </message>

  <portType name="newServicePT">
    <operation name="order_initiate">
      <input message="lns:OrderRequest"/>
    </operation>
    <operation name="delv">
      <input message="tns:DeliveryRequestMessage"/>
    </operation>
 </portType>
  <portType name="newCallback">
    <operation name="order_initiate">
      <input message="lns:OrderResponse"/>
    </operation>
  </portType>
  <plnk:partnerLinkType name="newLinkType">
    <plnk:role name="newProvider">
       <plnk:portType name="lns:newServicePT"/>
    </plnk:role>
     <plnk:role name="newRequester">
       <plnk:portType name="tns:newCallback"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <property name="OrderID" type="xsd:int"/>
  <propertyAlias propertyName="OrderID" messageType="lns:OrderRequest" part="payload" query="/onInitate/orderID"/>
  <propertyAlias propertyName="OrderID" messageType="lns:DeliveryRequestMessage" part="payload" query="/onDelivery/ID"/>
</definitions>
