binsrc/bpel/tests/processXSLT/XSLTSample.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2018 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="XSLTSample"
        targetNamespace="http://samples.openlinksw.com/bpel"
        xmlns:virt="http://samples.openlinksw.com/bpel"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        >
    <types>  
        <schema attributeFormDefault="qualified" 
                elementFormDefault="qualified" 
                targetNamespace="http://samples.openlinksw.com/bpel"
                xmlns="http://www.w3.org/2001/XMLSchema"
                >
          <element name="request" type="virt:requestT" />
          <element name="result" type="virt:resultT"/> 
	  <element name="requestwithrate" type="virt:requestwithrateT"/>
          
	   <complexType name="requestT"> 
		<sequence>
		  <element name="ssn" type="string"/>
		  <element name="fname" type="string"/>
		  <element name="lname" type="string"/>
		</sequence>
	   </complexType>
	   <complexType name="requestwithrateT"> 
		<sequence>
		  <element name="request" type="virt:requestT"/>
		  <element name="rating" type="xsd:int"/>
		</sequence>
	   </complexType>
	   <complexType name="resultT"> 
		<sequence>
		  <element name="creditResult" type="xsd:any"/>
		</sequence>
	   </complexType>	   
	</schema>
    </types>

    <message name="XSLTSampleRequestMessage">
        <part name="payload" element="virt:request"/>
    </message>
    
    <message name="XSLTSampleResultMessage">
        <part name="payload" element="virt:result"/>
    </message>
    <message name="XSLTSampleRequestWithRateMessage">
        <part name="payload" element="virt:requestwithrate"/>
    </message>

    <portType name="XSLTSample">
        <operation name="initiate">
            <input message="virt:XSLTSampleRequestMessage"/>
            <output message="virt:XSLTSampleResultMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="XSLTSample">
        <plnk:role name="XSLTSampleProvider">
            <plnk:portType name="virt:XSLTSample"/>
        </plnk:role>
    </plnk:partnerLinkType>   
</definitions>