binsrc/bpel/tests/Flow/Flow.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2019 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="Flow"
        targetNamespace="http://samples.cxdn.com"
        xmlns:tns="http://samples.cxdn.com"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
        xmlns:s1="http://www.autoloan.com/ns/autoloan"
        >
        
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.autoloan.com/ns/autoloan" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="loanApplication" type="s1:LoanApplicationType"/>
      <element name="loanOffer" type="s1:LoanOfferType"/>
      
      <complexType name="LoanOfferType">
          <sequence>
            <element name="providerName" type="string"/>
            <element name="selected" type="boolean"/>
            <element name="approved" type="boolean"/>
            <element name="APR" type="double"/>
          </sequence>
      </complexType>
      
      <complexType name="LoanApplicationType">
          <sequence>
            <element name="SSN" type="string"/>
            <element name="email" type="string"/>
            <element name="customerName" type="string"/>
            <element name="loanAmount" type="double"/>
            <element name="carModel" type="string"/>
            <element name="carYear" type="string"/>
            <element name="creditRating" type="int"/>
          </sequence>
      </complexType>
    </schema>
  </types>

  
  <message name="FlowRequestMessage">
    <part name="payload" element="s1:loanApplication"/>
  </message>

  <message name="FlowResultMessage">
    <part name="payload" element="s1:loanOffer"/>
  </message>

  <portType name="Flow">
    <operation name="initiate">
      <input message="tns:FlowRequestMessage"/>
    </operation>
  </portType>
  <portType name="FlowCallback">
    <operation name="onResult">
      <input message="tns:FlowResultMessage"/>
    </operation>
  </portType>
  
  <plnk:partnerLinkType name="Flow">
    <plnk:role name="FlowProvider">
      <plnk:portType name="tns:Flow"/>
    </plnk:role>
    <plnk:role name="FlowRequester">
      <plnk:portType name="tns:FlowCallback"/>
    </plnk:role>
  </plnk:partnerLinkType>  

</definitions>
