binsrc/bpel/tests/processXQuery/XQuerySample.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2017 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="XQuerySample"
  targetNamespace="http://samples.openlinksw.com/bpel"
  xmlns:virt="http://samples.openlinksw.com/bpel"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>  
    <schema attributeFormDefault="qualified" 
      elementFormDefault="qualified" 
      targetNamespace="http://samples.openlinksw.com/bpel"
      xmlns="http://www.w3.org/2001/XMLSchema">
      
      <element name="InvoiceList" type="virt:InvoiceListType" />
      <element name="invoiceReport" type="virt:InvoiceReportType" />
      <element name="id" type="xsd:int" />
      <element name="seller" type="xsd:string"/> 
      <element name="XQuerySampleRequest" type="virt:XQuerySampleRequestType"/>
      
      <complexType name="InvoiceListType"> 
	<sequence>
	  <element name="Invoice" type="virt:InvoiceType" maxOccurs="unbound"/>	    
	</sequence>
      </complexType> 
      
      <complexType name="InvoiceType"> 
	<sequence>
	  <element name="PurchaserName" type="xsd:string"/>	    
	  <element name="SellerName" type="xsd:string"/>	    
	  <element name="TotalQuantity" type="xsd:int"/>	    
	  <element name="Date" type="xsd:string"/>	    
	</sequence>
	<attribute name="id" type="xsd:int"/>
      </complexType> 
      
      <complexType name="InvoiceReportType">
	<sequence>
	  <element name="item" type="virt:ItemType" maxOccurs="unbound"/>
	</sequence>
      </complexType>	  		
      <complexType name="ItemType">
	<sequence>
	  <element name="PurchaserName" type="xsd:string"/>	    
	  <element name="TotalQuantity" type="xsd:int"/>	    
	</sequence>
      </complexType>

      <complexType name="XQuerySampleRequestType">
	<sequence>
	  <element name="id" type="integer"/>
	  <element name="seller" type="string"/>
	</sequence>
      </complexType>
		
    </schema>        
  </types>
  
  <message name="XQuerySampleRequestMessage">
    <part name="payload" element="virt:XQuerySampleRequest"/>
  </message>
    
  <message name="XQuerySampleResultMessage">
    <part name="payload" element="virt:invoiceReport"/>
  </message>

  <message name="XQuerySampleInvoices">
    <part name="InvoiceList" type="virt:InvoiceListType"/>
  </message>

  <portType name="XQuerySample">
    <operation name="initiate">
      <input message="virt:XQuerySampleRequestMessage"/>
      <output message="virt:XQuerySampleResultMessage"/>
    </operation>
  </portType>

  <plnk:partnerLinkType name="XQuerySample">
    <plnk:role name="XQuerySampleProvider">
      <plnk:portType name="virt:XQuerySample"/>
    </plnk:role>
  </plnk:partnerLinkType>   
</definitions>