binsrc/bpel/tests/sqlexec/inventory.wsdl

<?xml version="1.0"?>
<!--
 -  
 -  This file is part of the OpenLink Software Virtuoso Open-Source (VOS)
 -  project.
 -  
 -  Copyright (C) 1998-2016 OpenLink Software
 -  
 -  This project is free software; you can redistribute it and/or modify it
 -  under the terms of the GNU General Public License as published by the
 -  Free Software Foundation; only version 2 of the License, dated June 1991.
 -  
 -  This program is distributed in the hope that it will be useful, but
 -  WITHOUT ANY WARRANTY; without even the implied warranty of
 -  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 -  General Public License for more details.
 -  
 -  You should have received a copy of the GNU General Public License along
 -  with this program; if not, write to the Free Software Foundation, Inc.,
 -  51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -  
 -  
-->
<definitions name="Inventory"
  targetNamespace="http://temp.org"
  xmlns:tns="http://temp.org"
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" location="http://schemas.xmlsoap.org/ws/2004/03/addressing/"/>
  <types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
      targetNamespace="http://temp.org"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <element name="Items">
	  <complexType>
	      <sequence>
		  <element name="item" type="tns:ItemType" minOccurs="1" maxOccurs="unbounded"/>
	      </sequence>
	  </complexType>
      </element>
      <element name="Item" type="tns:ItemType"/>
      <complexType name="ItemType">
	  <sequence>
	      <element name="ProductID" type="xsd:int"/>
	      <element name="Quantity" type="xsd:int" minOccurs="0"/>
	  </sequence>
      </complexType>
    </schema>
  </types>
  <message name="initiateRequestMessage">
    <part name="payload" element="tns:Items"/>
  </message>
  <portType name="InventoryPort">
    <operation name="initiate">
      <input  message="tns:initiateRequestMessage" />
    </operation>
   </portType>
   <plnk:partnerLinkType name="InventoryService">
     <plnk:role name="InventoryProvider">
       <plnk:portType name="tns:InventoryPort"/>
     </plnk:role>
   </plnk:partnerLinkType>
</definitions>
